#nav_bar {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5vw 5vw;
  background-color: blueviolet;
}
#options {
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 1vw;
}

/* .hidden {
    display: none;
  } */
.cart {
  padding: 0px 1%;
  background-color: rgb(118, 117, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin-right: 20%;
  cursor: pointer;
}
#cart_icon {
  height: 4vh;
}
#heading {
  width: 40vw;
  border-bottom: 1px black solid;
  position: relative;
  left: 5vw;
  text-align: center;
}
#container {
  margin: 5vw;
  width: 80vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
.MobileContainer {
  width: 12vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.MobileContainer2 {
  width: 25vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.product {
  position: relative;
  width: 10vw;
  height: 10vw;
}
.price {
  font-size: 100%;
  display: flex;
  align-items: center;
}
.product2 {
  width: 15vw;
  height: 18vw;
  position: relative;
  padding: 20px 0px;
}
#cartItems {
  padding-left: 5px;
}
.add_cart {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgb(206, 195, 195);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  font-size: 80%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.add_cart2 {
  position: absolute;
  bottom: 0px;
  width: 50%;
  margin: 0px 25%;
  background-color: yellowgreen;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  font-size: 80%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.MobileContainer:hover .add_cart {
  padding: 4px;
  opacity: 1;
}
.MobileContainer2:hover .add_cart {
  padding: 4px;
  opacity: 1;
}
/* CART PAGE */
.cart_box {
  width: 100vw;
  margin: 5vw;
  display: none;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
@media screen and (max-width: 320px) {
  #container {
    width: 80vw;
    font-size: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vw;
  }
}
#price {
  font-size: 1rem;
  text-align: center;
}
.cart_box {
  width: 80vw;
  font-size: 80%;
}

.cart-item-image {
  width: 8vw;
  height: auto;
  border-radius: 10px;
}
